<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>254371966341-656dvs67emkland696j0e7bm45e1p5mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254371966341-656dvs67emkland696j0e7bm45e1p5mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCKTtszcfzQMWsIXdikj_dCAmX-LfEw3kA</string>
	<key>GCM_SENDER_ID</key>
	<string>254371966341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RoadTrak.squirrelTrip</string>
	<key>PROJECT_ID</key>
	<string>squirrelltrip</string>
	<key>STORAGE_BUCKET</key>
	<string>squirrelltrip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:254371966341:ios:af26c753edf7cefb</string>
	<key>DATABASE_URL</key>
	<string>https://squirrelltrip.firebaseio.com</string>
</dict>
</plist>